<a href="https://colab.research.google.com/github/theoyu13/python3/blob/master/%E6%95%B8%E5%AD%97%E5%8F%8D%E8%BD%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
num = int(input('輸入任意多個數字: '))
reversed_num = 0


while num > 0:
    reversed_num = reversed_num * 10 + num % 10
    num //= 10
print(reversed_num)

輸入任意多個數字: 123
321

In [11]:
for num in range(100, 1000):
    low = num % 10
    mid = num // 10 % 10
    high = num // 100
    if num == low ** 3 + mid ** 3 + high ** 3:
        print(num)

153
370
371
407